{{! @glint-nocheck: not typesafe yet }}
<div ...attributes>
  {{~#if this.isString~}}
    {{@nodes}}
  {{~else~}}
    {{~#each this.tree.children as |child|~}}
      <Prismic::Element
        @componentNames={{this.componentNames}}
        @node={{child}}
        @onUnknownTag={{@onUnknownTag}}
      />
    {{~/each~}}
  {{~/if~}}
</div>