<div ...attributes>
  {{~#if this.isString~}}
    {{this.stringValue}}
  {{~else~}}
    {{~#each this.tree.children as |child|~}}
      <Prismic::Element
        @componentNames={{this.componentNames}}
        @node={{child}}
        @onUnknownTag={{@onUnknownTag}}
      />
    {{~/each~}}
  {{~/if~}}
</div>