{{! @glint-nocheck: not typesafe yet }}
{{~#if this.isCustom~}}
  {{~#let (ensure-safe-component this.componentName) as |CustomComponent|~}}
    <CustomComponent @node={{@node}}>
      <Prismic::Children
        @componentNames={{@componentNames}}
        @node={{@node}}
        @onUnknownTag={{@onUnknownTag}}
      />
    </CustomComponent>
  {{~/let~}}
{{~else if this.isImage~}}
  <Prismic::Image @node={{@node}} />
{{~else if this.isSpan~}}
  <Prismic::Children
    @componentNames={{@componentNames}}
    @node={{@node}}
    @onUnknownTag={{@onUnknownTag}}
  />
{{~else if this.isHyperlink~}}
  <a
    href={{this.hyperlinkNode.data.url}}
    rel='noreferrer noopener'
    target={{this.target}}
  ><Prismic::Children
      @componentNames={{@componentNames}}
      @node={{@node}}
      @onUnknownTag={{@onUnknownTag}}
    /></a>
{{~else if this.tagName~}}
  {{~#let (element this.tagName) as |Tag|~}}
    <Tag><Prismic::Children
        @componentNames={{@componentNames}}
        @node={{@node}}
        @onUnknownTag={{@onUnknownTag}}
      /></Tag>
  {{~/let~}}
{{~/if~}}