{{! @glint-nocheck: not typesafe yet }}
{{~#if this.isCustom~}}
  {{~#let (ensure-safe-component this.componentName) as |CustomComponent|~}}
    {{~#CustomComponent node=@node~}}
      <Prismic::Children
        @componentNames={{@componentNames}}
        @node={{@node}}
        @onUnknownTag={{@onUnknownTag}}
      />
    {{~/CustomComponent~}}
  {{~/let~}}
{{~else if (eq @node.type 'image')~}}
  <Prismic::Image @node={{@node}} />
{{~else if (eq @node.type 'span')~}}
  <Prismic::Children
    @componentNames={{@componentNames}}
    @node={{@node}}
    @onUnknownTag={{@onUnknownTag}}
  />
{{~else if (eq @node.type 'hyperlink')~}}
  <a
    href={{@node.node.data.url}}
    rel='noreferrer noopener'
    target={{this.target}}
  ><Prismic::Children
      @componentNames={{@componentNames}}
      @node={{@node}}
      @onUnknownTag={{@onUnknownTag}}
    /></a>
{{~else~}}
  {{~#let (element this.tagName) as |Tag|~}}
    <Tag><Prismic::Children
        @componentNames={{@componentNames}}
        @node={{@node}}
        @onUnknownTag={{@onUnknownTag}}
      /></Tag>
  {{~/let~}}
{{~/if~}}