{{~#if this.hasLink~}}
  <a
    href={{this.node.linkUrl}}
    target={{this.linkTarget}}
    rel='noreferrer noopener'
  ><img
      alt={{this.node.alt}}
      copyright={{this.node.copyright}}
      src={{this.node.url}}
      width={{this.node.width}}
      height={{this.node.height}}
    /></a>
{{~else~}}
  <img
    alt={{this.node.alt}}
    copyright={{this.node.copyright}}
    src={{this.node.url}}
    width={{this.node.width}}
    height={{this.node.height}}
  />
{{~/if~}}