{{! @glint-nocheck: not typesafe yet }}
{{~#if @node.node.linkUrl~}}
  <a
    href={{@node.node.linkUrl}}
    target={{if @node.node.linkTarget @node.node.linkTarget '_blank'}}
    rel='noreferrer noopener'
  ><img
      alt={{@node.node.alt}}
      copyright={{@node.node.copyright}}
      src={{@node.node.url}}
      width={{@node.node.width}}
      height={{@node.node.height}}
    /></a>
{{~else~}}
  <img
    alt={{@node.node.alt}}
    copyright={{@node.node.copyright}}
    src={{@node.node.url}}
    width={{@node.node.width}}
    height={{@node.node.height}}
  />
{{~/if~}}